<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Student</legend>
    <%= f.input :first_name %>
    <%= f.input :last_name %> 
    <%= f.input :phone %>
    <%= f.input :rank %>
    <%= f.input :date_of_birth %>
    <%= f.input :waiver_signed %>

  </fieldset>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', students_path, :class => 'btn' %>
  </div>
<% end %>