<%= simple_form_for @section, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Section</legend>
    <%= f.association :event, :as => :radio_buttons %>
    <%= f.input :min_age %>
    <%= f.input :max_age %>
    <%= f.input :min_rank %>
    <%= f.input :max_rank %>


  </fieldset>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', sections_path, :class => 'btn' %>
  </div>
<% end %>