<h1>Current Sections</h1>

<table class = "table table-striped">
  <tr>
  <th>Event</th>
  <th>Age(s)</th>
	<th>Rank(s)</th>
	<th>Registrants</th>

  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= link_to section.event.name, section_path(section) %></td>
    <td><%= "#{section.min_age} - #{section.max_age}" %></td>
    <td><%= "#{rank_name(section.min_rank)} - #{rank_name(section.max_rank)}" %></td>
    <td><%= section.students.size %> </td> 

  </tr>

<% end %> 

</table> 


<span class="smtext">
<%= will_paginate @sections, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<%= link_to 'New Section', new_section_path, :class => 'btn btn-primary' %>


